body {
}

.section1,.section3,.section5{
    background-color:black;
    color:white;
}
.section2,.section4{
    background-color:white;
    color:black;
}

img{
    width:100%;
    height:100%;
    margin:10px;
}